<h2>Current Applicants</h2>

<ul>
  <% @applications.each do |application| %>
    <li>
      <% job_listing = Opening.find(application.opening_id) %>
      Job Title: <%= job_listing.title %>
      <br>
      <% applicant = User.find(application.applicant_id) %>
      Applicant Name: <%= applicant.name %>
      <br>
    </li>
    <br>
  <% end %>
</ul>
